.mainContainer{
  height: 100%;
  margin-top: 125px;
  display: flex;
  flex-direction: column;
}
.routesContainer{
  /* background-color: aqua; */
  height: 100%;
}

@media (min-width: 2000px){
  .mainContainer{
    margin-top: 225px;
  }
}