.box{
  margin: 15px;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.image{
  width: 100%;
  height: auto;
  border-radius: 5px;
}



.singleImageContainer{
  height: 100vh;
  width: 60%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.singleImage{
  width: 100%;
}

.buttonClose{
  position: absolute;
  top: 150px;
  right: 50px;
  height: 30px;
  width: 30px;
  background-color: red;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 10px 0 #fffa;
  cursor: pointer;
}

.buttonClose:hover{
  height: 33px;
  width: 33px;
  box-shadow: 0 0 10px 0 #fffa;
}

@media (max-width: 768px) {
  .box{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 481px){
  .box{
    grid-template-columns: repeat(1, 1fr);
  }
}