.home{
  margin-top: 125px;
  width: 100vw;
  height: 1000px;
  background-color: #00ffff;
  z-index: 10000;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.homeHero{
  height: 330px;
  width: 100%;
  background-color: green;
  overflow: hidden;
}

.homeHeroImg{
  width: 100%;
  position: relative;
  top: 250px;
}

.homeInfo{
  height: 330px;
  width: 100%;
  background-color: green;
  overflow: hidden;
}