.Navigation{
  height: 125px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 20px 5px #fff3;
  background-color: #242424;
  z-index: 300;
}

.logoContainer{
  width: 45%;
  height: 100%;
}

.logoContainerH1{
  font-size: 65px;
}


.logoContainerLink{
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #810100;
  font-weight: 600;
}

.logoContainerImg{
  height: 85%;
}

.logoContainerImgSmall{
  display: none;
}

.menuContainer{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.links{
  height: 70%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.link{
  font-size: 1.3rem;
  text-decoration: none;
  padding: 2px 10px;
  color: #fff;
}

.link:hover{
  transform: scale(1, 1.2);
  font-weight: bolder;
  transform-origin: center;
}

.userAction{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.userActionLinkSingIn{
  text-decoration: none;
  color: #fff;
}

.userActionLinkLogin{
  text-decoration: none;
  color: #810100;
  font-size: 1.6rem;
  font-weight: bolder;
}

.userActionLinkHouse{
  height: 50px;
  width: 50px;
}

.userActionLinkHouse:hover{
  height: 52px;
  border-bottom: 3px solid #fff;
}

.userActionLinkSingOut{
  text-decoration: none;
  color: #fffd;
  font-size: 1rem;
  padding: 1px 7px;
  border: 2px solid #fffd;
  border-radius: 5px;
  font-weight: bolder;
}

.userActionLinkSingOut:hover{
  padding: 5px 5px;
  font-size: 1.1rem;
}

@media (min-width: 2000px){
  .Navigation{
    height: 225px;
  }
  .logoContainerLink{
    justify-content: space-around;
  }
}
@media (max-width: 1100px){
  .logoContainer{
    width: 35%;
    height: 100%;
  }
  .logoContainerH1{
    font-size: 50px;
  }
  .logoContainerLink{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: #810100;
    font-weight: 600;
  }
  .menuContainer{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (max-width: 1000px){
  .logoContainerImg{
    display: none;
  }
  .logoContainerH1{
    display: none;
  }
  .logoContainer{
    width: 20%;
    height: 100%;
  }
  .logoContainerImgSmall{
    display: flex;
    height: 80%;
  }
  .menuContainer{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (max-width: 768px){
  .menuContainer{
    display: none;
  }
  .logoContainerImgSmall{
    margin-left: 15px;
  }
}